.qz__data-table {
  box-sizing: border-box;
  border: 1px solid hsl(240 5.9% 90%);
  border-radius: var(--border-md);
}

.qz__data-table--no-select {
  user-select: none;
}

.qz__data-table__cell--selected,
.qz__data-table__cell--selected:focus-visible {
  outline: 1.5px solid #3d5aa9;
  outline-offset: -2px;
  border-radius: var(--border-md);
}

.qz__data-table__cell--range {
  background-color: #dbe1ff;
}

.qz__data-table__cell--editable {
  box-sizing: border-box;
  padding: 0;
  cursor: text;
}

.qz__data-table__editable-cell--editing {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 0.5rem;
  cursor: text;
}

.qz__data-table__editable-cell--editing input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  background: transparent;
  font-size: inherit;
  font-family: inherit;
  padding: 0;
}

.qz__data-table__editable-cell--viewing {
  width: 100%;
  height: 100%;
  padding: 0.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: flex;
  align-items: center;
}

.qz__no-data-message {
  height: 6rem;
  text-align: center;
}
