.pr__table,
.pr__table__header,
.pr__table__body,
.pr__table__footer,
.pr__table__row,
.pr__table__head,
.pr__table__data,
.pr__table__caption {
  box-sizing: border-box;
  border: 0 solid hsl(240 5.9% 90%);
}

.pr__table-wrapper {
  font-family: var(--font-family);
  position: relative;
  width: 100%;
}

.pr__table {
  width: 100%;
  font-size: 0.875rem;
  line-height: 1.25rem;
  caption-side: bottom;
  text-indent: 0;
  border-spacing: 2px;
  border-color: inherit;
  border-collapse: collapse;
}

.pr__table__header {
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: white;
}

.pr__table__header tr {
  border-bottom-width: 1px;
}

.pr__table__body tr:last-child {
  border-width: 0px;
}

.pr__table__footer {
  border-top-width: 1px;
  background-color: hsl(240 4.8% 95.9% / 0.5);
  font-weight: 500;
}

.pr__table__footer tr:last-child {
  border-bottom-width: 0;
}

.pr__table__row {
  border-bottom-width: 1px;
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
}

.pr__table__row--hover:hover {
  background-color: hsl(240 4.8% 95.9% / 0.5);
}

.pr__table__row[data-state="selected"] {
  background-color: hsl(240 4.8% 95.9%);
}

.pr__table__head {
  padding-left: 1rem;
  padding-right: 1rem;
  height: 3rem;
  font-weight: 500;
  text-align: left;
  vertical-align: middle;
  color: hsl(240 3.8% 46.1%);
}

.pr__table__data:has([role="checkbox"]),
.pr__table__head:has([role="checkbox"]) {
  padding-right: 0;
}

.pr__table__data {
  padding: 1rem;
  vertical-align: middle;
}

.pr__table__caption {
  margin-top: 1rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: hsl(240 3.8% 46.1%);
}
